# Numpy

In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\rowida\anaconda3\anacondaa\lib\site-packages (1.23.5)

In [2]:
import numpy as np

In [3]:

# Creating a 1D array from a list
arr = np.array([1, 2, 3, 4])
print(arr)
print("")

# Creating a 2D array from a list of lists
arr_2d = np.array([[1, 2], [3, 4]])
print(arr_2d)
print("")

# Creating a 3D array from a list of lists
arr_3d=np.array([[[1, 2, 3], [4, 5, 6]],
                 [[7, 8, 9], [10, 11, 12]]])
print(arr_3d)
print("")


# Create a NumPy array from a tuple
tuple_data =np.array((1, 2, 3, 4))
print(tuple_data)
print("")

#the array object of numpy is ndarray
print(type(arr_3d))
print("")

#specify the dimension using ndim
a=[2,3,4]
arr4=np.array(a,ndmin=4)
print(arr4)
print("")

#specify the dimension using ndim
print(arr4.ndim)
print("")

#get the shape of array
print(arr_2d.shape)
print("")

#get the total elements of array
print(arr_3d.size)
print("")

#Access Array Elements
print(arr_3d[1,0,2])
print("")

#get item size in bytes
print(arr.itemsize)
print("")

#dtype attribute >>Data-type of the array’s elements.
print(arr.dtype)
print("")

#get total number of bytes consumed by array
print(arr.nbytes)
print("")

#slicing
print(arr_2d[0:2,0:1]) #row one&two with column 1
print("")

#array condition returns elements from x when condition true and from y when it is false
newarr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
print(np.where(newarr<5,newarr,10*newarr))
print("")

#get elements from the array by indices.,will flatten the array first to 1D
print(np.take(arr_3d,[0,3,11]))
print("")

#Place values in specific indices
a = np.arange(5)
np.put(a, [0, 2], [-44, -55])
print(a)
print("")

[1 2 3 4]

[[1 2]
 [3 4]]

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

[1 2 3 4]

<class 'numpy.ndarray'>

[[[[2 3 4]]]]

4

(2, 2)

12

9

8

int64

32

[[1]
 [3]]

[ 0  1  2  3  4 50 60 70 80 90]

[ 1  4 12]

[-44   1 -55   3   4]

In [4]:
#copy  array ,The copy NOT be affected by the changes made to the original array.
a1=np.arange(10)
a2=a1.copy()
a1[9]=222
print(f"copy {a2}")
print(f"original{a1}")

copy [0 1 2 3 4 5 6 7 8 9]
original[  0   1   2   3   4   5   6   7   8 222]

In [5]:
#viewing array ,he view SHOULD be affected by the changes made to the original array.
b1=np.arange(10)
b2=b1.view()
b1[9]=222
print(f"view {b2}")
print(f"original{b1}")

view [  0   1   2   3   4   5   6   7   8 222]
original[  0   1   2   3   4   5   6   7   8 222]

In [6]:
#Create an array with evenly spaced values within a given range
aa=np.arange(0,15,2)
print(aa)

[ 0  2  4  6  8 10 12 14]

In [7]:
 #Create an empty array(uninitialized).  deafult dtype is float
empty_arr=np.empty((2,3), dtype=float)
print(empty_arr)
print("")

#Create an array filled with a constant value(fill value). 
full_arr=np.full((2,3), 4)  
print(full_arr)
print("")


#Generate an array of random values between 0 and 1.
random_arr=np.random.rand(3,3)
print(random_arr)
print("")

#Create an array of evenly spaced numbers.#stop is included if endpoint=True otherwise it is excluded(endpoint=False)
ln_arr=np.linspace(1, 10, 5,endpoint=True) 
print(ln_arr)
print("")

#Return a 2-D array with ones on the diagonal and zeros(identity matrix)  #N:number of rows in the output  
eye_arr=np.eye(5)
print(eye_arr)
print("")

#Create an array of random integers from low(included)to high(excluded). #size is the shape of the output.
#random.randint(low, high, size)
randint_arr=np.random.randint(2, 10, (3,3)) 
print(randint_arr)
print("")


#Create an array of zeros with shape and type of input. #shape is int or tuple & dtype is optional(default float).
zero_Arr=np.zeros((3,3),dtype=int)
print(zero_Arr)
print("")

#Create an array of ones with shape and type of input. #shape is int or tuple & dtype is optional(default float).
ones_Arr=np.ones((3,3),dtype=int)
print(ones_Arr)

[[0. 0. 0.]
 [0. 0. 0.]]

[[4 4 4]
 [4 4 4]]

[[0.24182252 0.578667   0.85886994]
 [0.69597071 0.70379164 0.31489343]
 [0.51520688 0.65965578 0.86163136]]

[ 1.    3.25  5.5   7.75 10.  ]

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

[[5 4 2]
 [6 2 4]
 [9 7 4]]

[[0 0 0]
 [0 0 0]
 [0 0 0]]

[[1 1 1]
 [1 1 1]
 [1 1 1]]

#  	Statistical Operations:

In [8]:

Arr=np.arange(10)
print(f"sum:{np.sum(Arr)}")
print(f"mean:{np.mean(Arr)}")
print(f"median:{np.median(Arr)}")
print(f"standard deviation:{np.std(Arr)}")
print(f"variance:{np.var(Arr)}")
print(f"minimum value:{np.min(Arr)}")
print(f"maximum value:{np.max(Arr)}")
print(f"Cumulative sum :{np.cumsum(Arr)}")
print(f"Cumulative product:{np.cumprod(Arr)}")

sum:45
mean:4.5
median:4.5
standard deviation:2.8722813232690143
variance:8.25
minimum value:0
maximum value:9
Cumulative sum :[ 0  1  3  6 10 15 21 28 36 45]
Cumulative product:[0 0 0 0 0 0 0 0 0 0]

#  	 Math Functions

In [9]:
array1 = np.array([10, 20, 30, 40])
array2 = np.array([3, 5, 7, 9])

add_arr=np.add(array1, array2) 
print(f"addition:{add_arr}")

sub_arr=np.subtract(array1, array2) 
print(f"Subtraction:{sub_arr}")

mult_arr=np.multiply(array1, array2) 
print(f"Multiplication:{mult_arr}")

divide_arr=np.divide(array1, array2)
print(f"Division:{divide_arr}")

power_arr=np.power(array1, array2)
print(f"array1 power array2:{power_arr}")

sqrt_arr=np.sqrt(array1)
print(f"Square root of array1:{sqrt_arr}")

Modulus_Arr=np.mod(array1, array2)
print(f"element-wise modulus:{Modulus_Arr}")

exp_Arr=np.exp(array2)
print(f"Exponentiation of array2:{exp_Arr}")

array = np.array([1, 2.718, 10])
log_Arr=np.log(array)
print(f"logarithm of array:{exp_Arr}")


dot_arr=np.dot(array1, array2)
print(f"Dot product:{dot_arr}")


arr_abs=np.array([-1,-2,-3,-4])
abs_Arr=np.abs(arr_abs) 
print(f"Absolute values:{abs_Arr}")

grater_arr=np.greater(array1,array2)
print(f"Greater array:{grater_arr}")


less_Arr=np.less(array1,array2)
print(f"smaller array:{less_Arr}")



#Trigonometric Functions on Arrays
angles1 = np.array([0, np.pi/2, np.pi, 3*np.pi/2])
angles2 = np.array([np.pi/6, np.pi/4, np.pi/3, np.pi/2])

sin_arr=np.sin(angles1)
print(f"Sine of angles1:{sin_arr}")


cos_arr=np.cos(angles2)
print(f"cosine of angles2:{cos_arr}")


tan_arr= np.tan(angles1)
print(f"Tangent of angles1:{cos_arr}")

addition:[13 25 37 49]
Subtraction:[ 7 15 23 31]
Multiplication:[ 30 100 210 360]
Division:[3.33333333 4.         4.28571429 4.44444444]
array1 power array2:[           1000         3200000     21870000000 262144000000000]
Square root of array1:[3.16227766 4.47213595 5.47722558 6.32455532]
element-wise modulus:[1 0 2 4]
Exponentiation of array2:[  20.08553692  148.4131591  1096.63315843 8103.08392758]
logarithm of array:[  20.08553692  148.4131591  1096.63315843 8103.08392758]
Dot product:700
Absolute values:[1 2 3 4]
Greater array:[ True  True  True  True]
smaller array:[False False False False]
Sine of angles1:[ 0.0000000e+00  1.0000000e+00  1.2246468e-16 -1.0000000e+00]
cosine of angles2:[8.66025404e-01 7.07106781e-01 5.00000000e-01 6.12323400e-17]
Tangent of angles1:[8.66025404e-01 7.07106781e-01 5.00000000e-01 6.12323400e-17]

#  	Array Reshaping and Transposition:

In [10]:
arr= np.array([1, 2, 3, 4, 5, 6])
arr_3d=np.array([[[1, 2], [3, 4]],
                   [[5, 6], [7, 8]]])

reshaped_arr = arr.reshape((2, 3))
print(reshaped_arr)
print("")

flatten_Array=np.ravel(arr_3d)
print(flatten_Array)#1D
print("")

transposed_Array=arr_3d.T #swap axies
print(transposed_Array)
print("")

transpose_Arr=arr_3d.transpose((2, 0, 1))
print(transpose_Arr)
print("")

expand_Arr=np.expand_dims(arr, axis=1) #Expand the shape of an array by Adding an axis to an array. #axis=0 expand rows , =1 expand columns
print(expand_Arr)

[[1 2 3]
 [4 5 6]]

[1 2 3 4 5 6 7 8]

[[[1 5]
  [3 7]]

 [[2 6]
  [4 8]]]

[[[1 3]
  [5 7]]

 [[2 4]
  [6 8]]]

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]

#  	Array Concatenation and Splitting:

In [11]:
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5, 6], [7, 8]])


concat_Arr=np.concatenate((arr1,arr2), axis=0)
print(concat_Arr)
print("")

vstack_Arr=np.vstack((arr1, arr2)) #Stack arrays vertically (row-wise)
print(vstack_Arr)
print("")

hstack_Arr=np.hstack((arr1, arr2)) #Stack arrays horizontally (column-wise).
print(hstack_Arr)
print("")

dstack_Arr=np.dstack((arr1, arr2)) #Stack arrays along the depth (third) axis.
print(dstack_Arr)
print("")

splited_arr=np.split(arr1,2, axis=0)#Split an array into multiple sub-arrays.
print(splited_arr)
print("")

splited_array=np.array_split(arr1,2, axis=0) #plit array into sub-arrays of specific sizes
print(splited_array)
print("")

stack_Arr=np.stack(arr1 ,axis=0)  #Stack arrays along a new axis.
print(stack_Arr)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

[[1 2 5 6]
 [3 4 7 8]]

[[[1 5]
  [2 6]]

 [[3 7]
  [4 8]]]

[array([[1, 2]]), array([[3, 4]])]

[array([[1, 2]]), array([[3, 4]])]

[[1 2]
 [3 4]]

#                        Pandas DataFrame: Viewing Data

In [12]:

import pandas as pd
#create dataframe of dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']
        }
df = pd.DataFrame(data)
print(df)
print("")

#View the first n rows of the DataFrame ,default 5 rows
print(df.head(2))
print("")

print(df.tail(1)) # View the last n rows of the DataFrame (default is 5).
print("")

print(df.info()) #Get a summary of the DataFrame, including column types and non-null values.
print("")

print(df.describe()) #Generate descriptive statistics of numeric columns.
print("")

print(df.shape) #Returns a tuple representing the number of rows and columns.
print("")

print(df.columns) #List the column labels of the DataFrame.
print("")

print(df.index) #Get the row labels (indices) of the DataFrame.

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

      Name  Age     City
2  Charlie   35  Chicago

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

(3, 3)

Index(['Name', 'Age', 'City'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

# 	Selecting Data:

In [13]:

print(df['Age']) #select Single column 
print("")

print(df[['Age', 'Name']]) #select Multiple columns
print("")

print(df.iloc[2]) #select First row by index 
print("")

print(df.loc[0]) #select First row by index label
print("")

print(df['Age']==35) #Conditional selection

0    25
1    30
2    35
Name: Age, dtype: int64

   Age     Name
0   25    Alice
1   30      Bob
2   35  Charlie

Name    Charlie
Age          35
City    Chicago
Name: 2, dtype: object

Name       Alice
Age           25
City    New York
Name: 0, dtype: object

0    False
1    False
2     True
Name: Age, dtype: bool

# 	Modifying Data:

In [14]:
df['country']=['Egypt', 'ksa', 'usa'] #adding a new column
print(df)
print("")

df.rename(columns={'Name': 'FirstName'}, inplace=True) #Renaming columns
print(df)
print("")

df.drop(['Age'], axis=1, inplace=True) #Drop a column
print(df)
print("")

df.drop([0], axis=0, inplace=True) #Drop a row by index
print(df)
print("")

df['FirstName'] = df['FirstName'].replace('Bob', 'Rowida') #Replace values
print(df)

      Name  Age         City country
0    Alice   25     New York   Egypt
1      Bob   30  Los Angeles     ksa
2  Charlie   35      Chicago     usa

  FirstName  Age         City country
0     Alice   25     New York   Egypt
1       Bob   30  Los Angeles     ksa
2   Charlie   35      Chicago     usa

  FirstName         City country
0     Alice     New York   Egypt
1       Bob  Los Angeles     ksa
2   Charlie      Chicago     usa

  FirstName         City country
1       Bob  Los Angeles     ksa
2   Charlie      Chicago     usa

  FirstName         City country
1    Rowida  Los Angeles     ksa
2   Charlie      Chicago     usa

#  	Sorting Data:

In [24]:
data = {
  "age": [50, 40, 30, 40, 20, 10, 30],
  "qualified": [True, False, False, False, False, True, True]
}
dff = pd.DataFrame(data)

newdf = dff.sort_values(by='age')

print(newdf)
print("")

newdf2=dff.sort_index(ascending=False) #Sorting by index
print(newdf2)

   age  qualified
5   10       True
4   20      False
2   30      False
6   30       True
1   40      False
3   40      False
0   50       True

   age  qualified
6   30       True
5   10       True
4   20      False
3   40      False
2   30      False
1   40      False
0   50       True

#  	Handling Missing Data:

In [36]:
data={'a':[1,2,3,None],'b':[4,5,None,6],'c':[None,None,7,8]}
df=pd.DataFrame(data)
print(df)
print("")

print(df.isnull().sum()) #Check missing values per column
print("")

print(df['c'].fillna('1'))#Filling missing values
print("")


df.dropna(subset=['b'], inplace=True) #Drop Rows/Columns of datasets with Null values 
print(df)

     a    b    c
0  1.0  4.0  NaN
1  2.0  5.0  NaN
2  3.0  NaN  7.0
3  NaN  6.0  8.0

a    1
b    1
c    2
dtype: int64

0      1
1      1
2    7.0
3    8.0
Name: c, dtype: object

     a    b    c
0  1.0  4.0  NaN
1  2.0  5.0  NaN
3  NaN  6.0  8.0

#  	Aggregating Data:

In [40]:
data = {'category': ['A', 'B', 'A', 'B', 'A'],
        'values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
print(df)
print("")

# Group by 'category' and aggregate 'values' by sum
result = df.groupby('category').agg({'values': 'sum'})
print(result)

summation=df['values'].sum() #suming values of a column
print(summation)
print("")

mean_values=df['values'].mean()#get mean of a column
print(mean_values)
print("")

minimum=df['values'].min()#get minimum value of a column
print(minimum)
print("")

maximum_df=df['values'].max()#get maximum of a column
print(maximum_df)

  category  values
0        A      10
1        B      20
2        A      30
3        B      40
4        A      50

          values
category
A             90
B             60
150

30.0

10

50

# Iterating over Rows:

In [51]:

data ={'Name': ['Alice', 'Bob', 'Charlie'],
                   'Age': [25, 30, 35]}
df=pd.DataFrame(data)

# Iterate over rows
for index, row in df.iterrows():
    print(f"Index: {index}, Name: {row['Name']}, Age: {row['Age']}")


    
# Iterate over rows as named tuples
for row in df.itertuples():
    print(f"Index: {row.Index}, Name: {row.Name}, Age: {row.Age}")

Index: 0, Name: Alice, Age: 25
Index: 1, Name: Bob, Age: 30
Index: 2, Name: Charlie, Age: 35

 # Merging &Joining DataFrames:

In [58]:


# Create DataFrame df1
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})


# Create DataFrame df2
df2 = pd.DataFrame({
    'ID': [2, 4],
    'Age': [30, 40]
}).set_index('ID')  # Setting 'ID' as the index


# Setting 'ID' as the index in df1 for joining
df1.set_index('ID', inplace=True)

# Perform a left join
result = df1.join(df2, how='left')

print(result)



rs=pd.merge(df1, df2, on='ID', how='left') #merge DataFrames based on one or more columns.
print(rs)

       Name   Age
ID
1     Alice   NaN
2       Bob  30.0
3   Charlie   NaN
4     David  40.0
       Name   Age
ID
1     Alice   NaN
2       Bob  30.0
3   Charlie   NaN
4     David  40.0

# Dictionary

In [35]:
#ordered, changeable and do not allow duplicates.
student = {
    "name": "rowida",
    "age": 22,
    "major": "Computer Science",
    "graduated": True
}
#get value of key
print(student["name"])
print(student.get("age"))

#add item in the dic
student["university"]="ASU"


#return all keys & values of dic
print(student.keys())
print(student.values())

#return all items of dic
print(student.items())

#To determine if a specified key is present in a dictionary use the in keyword
if "university" in student:
    print("True")
else:
    print("False")
    
#update the value of dic
student.update({"graduated":"False"})
print(student.values())

#remove specific item with key
student.pop("university")
print(student)

#del keyword
del student["graduated"]
print(student)

#insert
student["gender"]="female"
print(student)

#remove last item
student.popitem()
print(student)

student

#clear dictionary
student.clear()
student

#delete sictionary
del student

student

rowida
22
dict_keys(['name', 'age', 'major', 'graduated', 'university'])
dict_values(['rowida', 22, 'Computer Science', True, 'ASU'])
dict_items([('name', 'rowida'), ('age', 22), ('major', 'Computer Science'), ('graduated', True), ('university', 'ASU')])
True
dict_values(['rowida', 22, 'Computer Science', 'False', 'ASU'])
{'name': 'rowida', 'age': 22, 'major': 'Computer Science', 'graduated': 'False'}
{'name': 'rowida', 'age': 22, 'major': 'Computer Science'}
{'name': 'rowida', 'age': 22, 'major': 'Computer Science', 'gender': 'female'}
{'name': 'rowida', 'age': 22, 'major': 'Computer Science'}

NameError: name 'student' is not defined

In [52]:
student1 = {
    "name": "rowida",
    "age": 22,
    "major": "Computer Science",
    "graduated": False
}


#copy dictionary
student2=student1.copy()
student2

#create a new dictionary and assign a standard  value to all of its keys   dict.fromkeys(keys,y)
#default value is None
dic3=dict.fromkeys(("name","city","grade"),"unknow")
dic3


#returns the value of the item with the specified key,If the key does not exist, insert the key, with the specified value.
dic3.setdefault("address","cairo")
dic3


#nested dictionary
myfamily = {
                "child1" : {
                       "name" : "Emil",
                       "year" : 2004
                                       },
                 "child2" : {
                       "name" : "Tobias",
                       "year" : 2007
                                       },
                 "child3" : {
                       "name" : "Linus",
                       "year" : 2011
                                       }
                           }
myfamily

print(myfamily["child2"]["year"])

#loop on dictionary
for outer ,inner in myfamily.items():
    if outer=="child2":
        print(outer)
        for key,value in inner.items():
            print(f"{key}: {value}")

2007
child2
name: Tobias
year: 2007