In [1]:
import sys
print(sys.version)

3.11.9 | packaged by Anaconda, Inc. | (main, Apr 19 2024, 16:40:41) [MSC v.1916 64 bit (AMD64)]

In [2]:

x=20
print(type(x))

<class 'int'>

In [3]:
y=2.44
print(type(y))

<class 'float'>

In [4]:
z='rowida'
print(type(z))

<class 'str'>

In [5]:
str1="task number one"
print(str1)

task number one

In [6]:
#slice string by leaving out the start index
print(str1[:6])

task n

In [7]:
print(str1[3:])

k number one

In [8]:
#negative indexing to start from the end
print(str1[-5:])

r one

In [9]:
str2=" Rowida Taher"
print(str2.upper())
print(str2.lower())

 ROWIDA TAHER
 rowida taher

In [10]:
#remove Whitespace 
print(str2.strip())

Rowida Taher

In [11]:
#replace string with another string
print(str2.replace("o","e"))

 Rewida Taher

In [12]:
#split string into substrings
print(str2.split(" "))

['', 'Rowida', 'Taher']

In [13]:
#String Concatenation
c=str1 + str2
print(c)
print(c.split(" "))

task number one Rowida Taher
['task', 'number', 'one', 'Rowida', 'Taher']

In [14]:
#f-strings format
age=22
print(f"{str2} is {age}")

 Rowida Taher is 22

In [15]:
#placeholder with modifier
print(f"my age is {age:.2f}")

my age is 22.00

In [16]:
#count
print(c.count("one"))

1

In [17]:
#find
print(c.find("number"))

5

In [18]:
print(len(c))

28

In [19]:
num=int(input("enter a number: "))
if num%2==0:
    print(f"{num} is Even number")
else:
    print(f"{num} is Odd number")

enter a number: 20
20 is Even number

In [20]:
num1=1
while num1<=10:
    if num1==5:
        num1+=1
        continue
    print(num1)
    num1+=1

1
2
3
4
6
7
8
9
10

In [21]:
num3=1
while num3<=10:
    print(num3)
    if num3==5:
        break
    num3+=1

1
2
3
4
5

In [22]:
for i in range(10):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [23]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in numbers:
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [24]:
#list indexed,mutable
grades=["good","excellent","verygood"]
if "verygood" in grades:
    print("yes")
print(grades[:-1])

#replace values of list and insert
grades[0:2]=["G","E","F"]
print(grades)

#insert without replace
classes=["A","B","C"]
classes.insert(2,"GG")
print(classes)

#add in the end of list
classes.append("ss")
print(classes)

#extend list
classes.extend(grades)
print(classes)

#remove last item
classes.pop()
print(classes)

#remove
grades.remove("F")
print(grades)

#del
del grades[0]
print(grades)

#clear list
grades.clear()
print(grades)

#delete list
del grades
print(grades)

yes
['good', 'excellent']
['G', 'E', 'F', 'verygood']
['A', 'B', 'GG', 'C']
['A', 'B', 'GG', 'C', 'ss']
['A', 'B', 'GG', 'C', 'ss', 'G', 'E', 'F', 'verygood']
['A', 'B', 'GG', 'C', 'ss', 'G', 'E', 'F']
['G', 'E', 'verygood']
['E', 'verygood']
[]

NameError: name 'grades' is not defined

In [25]:
#List comprehension>>create new list from existing list
fruits=["apple","orange","watermelon"]
newlist=[x for x in fruits]
print(newlist)

newlist=[x if x!="watermelon" else 
      "grapes" for x in fruits]
print(newlist)
#sort list
lst=[10,20,30]
lst.sort()
print(lst)

lst.sort(reverse=True)
print(lst)

['apple', 'orange', 'watermelon']
['apple', 'orange', 'grapes']
[10, 20, 30]
[30, 20, 10]

In [26]:
#make copy of list
lst2=fruits.copy()
print(lst2)

lst3=list(fruits)
print(lst3)

lst4=fruits[:]
print(lst4)

['apple', 'orange', 'watermelon']
['apple', 'orange', 'watermelon']
['apple', 'orange', 'watermelon']

In [27]:
#tuples indexed,immutable
tuple=("a","b","c")
print(tuple)
print(type(tuple))
print(tuple[0])
tuple.index("c")

newtuple=tuple*2
newtuple

tuple[2]="d"

('a', 'b', 'c')
<class 'tuple'>
a

TypeError: 'tuple' object does not support item assignment

In [28]:
#sets unindexed,immutable,no duplicate
set={"a","b","c","a"}
set1={1,2,3,4,5}
print(set)
print(type(set))

#add item
set.add("ee")
set

#update or join
set1.update(set)
set1

#remove item or discard()
set1.remove("ee")
set1

#join
set2 = {"a", "b", "c"}
set3 = {1, 2, 3}

#union
union_Set=set2.union(set3)
union_Set

{'c', 'b', 'a'}
<class 'set'>

{1, 2, 3, 'a', 'b', 'c'}

In [29]:
#function
def print_first_name(name):
    print(f"the first name is {name}")
print_first_name("rowida")

the first name is rowida

In [30]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120